@import url("https://codedotspectra.github.io/themes/nocturnal/importCSS/core.css");
/*@import url(https://codedotspectra.github.io/themes/mini-themes/customFont.css);*/
@import url('https://codedotspectra.github.io/themes/mini-themes/compactMemberList.css');
@import url('https://codedotspectra.github.io/themes/mini-themes/statusRounded.css');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://tropix126.github.io/BetterDiscordStuff/friendgrid/v3/css/base.css');

:root {
--customFont: 'Titillium Web';
--primary: #39A0ED;
--primaryGradient1: #39A0ED;
--primaryGradient2: #1B263B;
--backgroundDark: #080F17;
--backgroundDarker: #111111;
}

/* Rainbow Mention*/

.theme-dark .isMentioned-N-h9aa .mention, .theme-light .isMentioned-N-h9aa .mention:hover,.theme-dark .wrapper-3WhCwL:hover, .theme-dark .wrapper-3WhCwL {
  background: transparent !important;
}
.theme-dark .isMentioned-N-h9aa .mention, .theme-light .isMentioned-N-h9aa .mention,.theme-dark .wrapper-3WhCwL,.theme-dark .wrapper-3WhCwL:hover,.theme-dark .isMentioned-N-h9aa, .theme-dark .isMentioned-N-h9aa {
  color: #00e5ff;
  animation: rainbowmention 3s infinite linear;
}
@keyframes rainbowmention {
  from {
   -webkit-filter: hue-rotate(0deg);
  }
  to {
   -webkit-filter: hue-rotate(360deg);
  }
}

/* MentionBox */

:root{
	--Background: rgba(85, 193, 58, 0.2) ;
	--Mention: #95da72;
	--Bar: rgba(26, 250, 93, 0.357);
}
.theme-dark .isMentioned-N-h9aa {
  background: var(--Background) !important;
}
.mention {
  color: var(--Mention) !important;
}
.isMentionedCozy-3isp7y:after {
  position: absolute;
  top: 0;
  left: -6px;
  bottom: 0;
  content: " ";
  width: 2px;
  background: var(--Bar)!important;
  border-left: 4px solid var(--Bar)!important;
  border-radius: 2px 0 0 2px;
}

