@import url("https://codedotspectra.github.io/themes/nocturnal/importCSS/core.css");
@import url(https://codedotspectra.github.io/themes/mini-themes/customFont.css);
@import url('https://codedotspectra.github.io/themes/mini-themes/compactMemberList.css');
@import url('https://codedotspectra.github.io/themes/mini-themes/statusRounded.css');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
:root {
--customFont: 'Titillium Web';
--primary: #39A0ED;
--primaryGradient1: #39A0ED;
--primaryGradient2: #1B263B;
--backgroundDark: #080F17;
--backgroundDarker: #111111;
}
